             
<h1>Ajouter une nouvelle candidature <td class="text-center">
  	<a href="{{ path('app_candidature_index') }}"><button class="btn btn-primary btn-fab btn-icon btn-round"><i class="tim-icons icon-bullet-list-67"></i></button></a>
	</td>
  </h1>
    <div class="row">
        <div class="col-md-6">
            {{ form_start(form) }}


                          <div class="form-group">
                {{ form_label(form.status) }}
                {{ form_widget(form.status, {'attr': {'class': 'form-control'}}) }}
            </div>

                          <div class="form-group">
                {{ form_label(form.details) }}
                {{ form_widget(form.details, {'attr': {'class': 'form-control'}}) }}
            </div>
            
                                    <div class="form-group">
                {{ form_label(form.candidat) }}
                {{ form_widget(form.candidat, {'attr': {'class': 'form-control'}}) }}
            </div>

                                    <div class="form-group">
                {{ form_label(form.offre) }}
                {{ form_widget(form.offre, {'attr': {'class': 'form-control'}}) }}
            </div>
            <div class="form-group">
                {{ form_widget(form.submit, {'attr': {'class': 'btn btn-primary'}}) }}
            </div>
 
            {{ form_end(form) }}
        </div>
    </div>