{% block OffreView %}
    <section id="portfolio" class="portfolio sections-bg">
      <div class="container" data-aos="fade-up">

        <div class="section-header">
          <h2>Offre</h2>
         <!-- <p>Quam sed id excepturi ccusantium dolorem ut quis dolores nisi llum nostrum enim velit qui ut et autem uia reprehenderit sunt deleniti</p>-->
        </div>

        <div class="portfolio-isotope" data-portfolio-filter="*" data-portfolio-layout="masonry" data-portfolio-sort="original-order" data-aos="fade-up" data-aos-delay="100">

          <div>
            <ul class="portfolio-flters">
              <li data-filter="*" class="filter-active">Tous</li>
              <li data-filter=".filter-offres">Offres d'emplois</li>
              <li data-filter=".filter-candidatures">Candidatures</li>
              <li data-filter=".filter-accepted">Candidatures Acceptées</li>
              <li data-filter=".filter-rejected">Candidatures Rejetées</li>
            </ul><!-- End Portfolio Filters -->
          </div>

            <div class="row gy-4 portfolio-container">
          	  <div class="col-xl-15 col-md-20 portfolio-item filter-offres">
          		<div class="portfolio-wrap">
          			<a href="assets/img/portfolio/app-1.jpg" data-gallery="portfolio-gallery-app" class="glightbox"><img src="assets/img/portfolio/app-1.jpg" class="img-fluid" alt=""></a>
          			<div class="portfolio-info">
          				<h4><a href="portfolio-details.html" title="More Details">Offres d'emplois</a></h4>
          				<table class="table tablesorter " id="">
          					<thead class=" text-primary">
          						<tr>
 
          							<th>Titre</th>
          							<th>Domaine</th>
                                  							<th>Contrat</th>
          							<th>Salaire</th>
          							<th>Lieu</th>


          							<th>Description</th>
                                  							<th>Recruteur</th>
          							<th>Status</th>
          							<th class="text-center"> Actions </th>
          						</tr>
          					</thead>
          					<tbody> {% for offre in offres %} <tr>
 
          							<td>{{ offre.titre }}</td>          							<td>{{ offre.domaine }}
          							</td>
                                  							<td>{{ offre.contrat }}
          							</td>
          							<td>{{ offre.salaire }}
          							</td>
          							<td>{{ offre.lieu }}</td>



          							<td>{{ offre.description }}
          							</td>
                                  							<td>{{ offre.recruteur }}
          							</td>
          							<td>{{ offre.status }}</td>
          							<td class="text-center">
          								   
                          <a href="{{ path('app_offre_show_postuler', {'id': offre.id}) }}"><button class="btn text-primary">Postuler</button></a> 
  
          							</td>
          						</tr> {% else %} <tr>
          							<td colspan="9">no records found</td>
          						</tr> {% endfor %} </tbody>
          				</table>
          			</div>
          		</div>
          	</div><!-- End Portfolio Item -->


            <div class="row gy-4 portfolio-container">
          	  <div class="col-xl-15 col-md-20 portfolio-item filter-candidatures">
          		<div class="portfolio-wrap">
          			<a href="assets/img/portfolio/app-1.jpg" data-gallery="portfolio-gallery-app" class="glightbox"><img src="assets/img/portfolio/app-1.jpg" class="img-fluid" alt=""></a>
          			<div class="portfolio-info">
          				<h4><a href="portfolio-details.html" title="More Details">Candidatures En Attente</a></h4>
          				<table class="table tablesorter " id="">
          					<thead class=" text-primary">
          						<tr>
                      <th>Titre</th>
          		          							<th>Recruteur</th>
          			<th>Candidat</th> 		
          							<th>datepostulation</th> 
  
                        							 
          							<th class="text-center"> status </th>
          						</tr>
          					</thead>
          					<tbody> {% for candidature in candidaturesPending %} <tr>
                    						                    							<td>{{ candidature.offre.titre }}
          							</td> 
                                	<td>{{ candidature.offre.recruteur }}
          							</td> 
          							<td>{{ candidature.candidat }}</td>	
          							</td>
          							<td>{{ candidature.datepostulation|date('Y-m-d H:i')  }}</td>
          		 

 
          														<td class="text-center">{{ candidature.status }}</td>
          						</tr> {% else %} <tr>
          							<td colspan="9">no records found</td>
          						</tr> {% endfor %} </tbody>
          				</table>
          			</div>
          		</div>
              </div>
          	</div><!-- End Portfolio Item -->

            <div class="row gy-4 portfolio-container">
          	  <div class="col-xl-15 col-md-20 portfolio-item filter-candidatures filter-accepted">
          		<div class="portfolio-wrap">
          			<a href="assets/img/portfolio/app-1.jpg" data-gallery="portfolio-gallery-app" class="glightbox"><img src="assets/img/portfolio/app-1.jpg" class="img-fluid" alt=""></a>
          			<div class="portfolio-info">
          				<h4><a href="portfolio-details.html" title="More Details">Candidatures Acceptées</a></h4>
          				<table class="table tablesorter " id="">
          					<thead class=" text-primary">
          						<tr>
                      <th>Titre</th>
          		          							<th>Recruteur</th>
          			<th>Candidat</th> 		
          							<th>datepostulation</th>
          							<th>datemodification</th>
  
                        									<th>details</th>
          							<th class="text-center"> status </th>
          						</tr>
          					</thead>
          					<tbody> {% for candidature in candidaturesAccepted %} <tr>
                    						                    							<td>{{ candidature.offre.titre }}
          							</td> 
                                	<td>{{ candidature.offre.recruteur }}
          							</td> 
          							<td>{{ candidature.candidat }}</td>	
          							</td>
          							<td>{{ candidature.datepostulation|date('Y-m-d H:i')  }}</td>
          							<td>{{ candidature.datemodification|date('Y-m-d H:i')  }}
          							</td>


                        			<td>{{ candidature.details }}
          														<td class="text-center">{{ candidature.status }}</td>
          						</tr> {% else %} <tr>
          							<td colspan="9">no records found</td>
          						</tr> {% endfor %} </tbody>
          				</table>
          			</div>
          		</div>
              </div>
          	</div><!-- End Portfolio Item -->


            <div class="row gy-4 portfolio-container">
          	  <div class="col-xl-15 col-md-20 portfolio-item filter-candidatures filter-rejected">
          		<div class="portfolio-wrap">
          			<a href="assets/img/portfolio/app-1.jpg" data-gallery="portfolio-gallery-app" class="glightbox"><img src="assets/img/portfolio/app-1.jpg" class="img-fluid" alt=""></a>
          			<div class="portfolio-info">
          				<h4><a href="portfolio-details.html" title="More Details">Candidatures Rejetées</a></h4>
          				<table class="table tablesorter " id="">
          					<thead class=" text-primary">
          						<tr>
                      <th>Titre</th>
          		          							<th>Recruteur</th>
          			<th>Candidat</th> 		
          							<th>datepostulation</th>
          							<th>datemodification</th>
  
                        									<th>details</th>
          							<th class="text-center"> status </th>
          						</tr>
          					</thead>
          					<tbody> {% for candidature in candidaturesRejected %} <tr>
                    						                    							<td>{{ candidature.offre.titre }}
          							</td> 
                                	<td>{{ candidature.offre.recruteur }}
          							</td> 
          							<td>{{ candidature.candidat }}</td>	
          							</td>
          							<td>{{ candidature.datepostulation|date('Y-m-d H:i')  }}</td>
          							<td>{{ candidature.datemodification|date('Y-m-d H:i')  }}
          							</td>


                        			<td>{{ candidature.details }}
          														<td class="text-center">{{ candidature.status }}</td>
          						</tr> {% else %} <tr>
          							<td colspan="9">no records found</td>
          						</tr> {% endfor %} </tbody>
          				</table>
          			</div>
          		</div>
              </div>
          	</div><!-- End Portfolio Item -->



        </div>

      </div>
    </section>
{% endblock %}

 