<html>

<head>
	<meta charset="UTF-8">
	<title>Welcome!</title>
	<link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
</head>

<body>
	<link href="/assets/img/favicon.png" rel="icon">
	<link href="/assets/img/apple-touch-icon.png" rel="apple-touch-icon">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,600;1,700&family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Raleway:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet">
	<link href="/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
	<link href="/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
	<link href="/assets/vendor/aos/aos.css" rel="stylesheet">
	<link href="/assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
	<link href="/assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">
	<link href="/assets/css/main.css" rel="stylesheet">
	<header id="header" class="header d-flex align-items-center">
		<div class="container-fluid container-xl d-flex align-items-center justify-content-between">
			<a href="index.html" class="logo d-flex align-items-center">
				<!-- Uncomment the line below if you also wish to use an image logo -->
				<img src="assets/img/logo.png" alt="">
			</a>
			<nav id="navbar" class="navbar">
				<ul>
					<li><a href= />Home</a></li>
					<li><a href=/home/about>About</a></li>
					<li><a href=/home/offre>Offre</a></li>
					<li><a href=/home/portfolio>protfolio</a></li>
					<li><a href=/home/formation>formation</a></li>
					<li class="dropdown nav-item">
						<a href="#" class="dropdown-toggle nav-link" data-toggle="dropdown">
							<div class="photo">
								<img src="/assets/img/anime3.png" height="50px" width="50px" alt="Profile Photo" style="border-radius:50px;">
							</div>
							<b class="caret d-none d-lg-block d-xl-block"></b>
							<p class="d-lg-none"> Log out </p>
						</a>
						<ul class="dropdown-menu dropdown-navbar">
							<li class="nav-link"><a href=/home/profile>Profile</a></li>
							<li class="nav-link"><a href="javascript:void(0)" class="nav-item dropdown-item">Settings</a></li>
							<li class="dropdown-divider"></li>
							<li class="nav-link"><a href="javascript:void(0)" class="nav-item dropdown-item">Log out</a></li>
						</ul>
					</li>
				</ul>
			</nav><!-- .navbar -->
			<i class="mobile-nav-toggle mobile-nav-show bi bi-list"></i>
			<i class="mobile-nav-toggle mobile-nav-hide d-none bi bi-x"></i>
		</div>
	</header> {% block body %}<br> <br>

	<div class="row">
		<div class="col-md-10 mx-auto">
        	<h1>&emsp;&emsp;Êtes-vous sure de vouloir postuler pour l'offre {{ offre.titre }} du recruteur {{ offre.recruteur }} ? </h1>
			{{ form_start(form) }}
			<br> <br>
			<div class="form-group col-md-10 mx-auto">{{ form_widget(form.submit, {'label': 'Oui', 'attr': {'class': 'btn btn-primary'}}) }} &emsp;&emsp; <a href=/home/offre>Non</a>
			</div>
			<br> <br>
			<div class="form-group col-md-10 mx-auto">
				<p>Je suis, le {{ form_label(form.candidat) }} : {{ form_widget(form.candidat, {'attr': {'class': 'form-control'}}) }}</p>
			</div>
			{{ form_end(form) }}
		</div>
	</div> {% endblock %}